{% extends "base.html" %}
{% block content %}
<div class="row">
	<div class="col-md-3 col-md-offset-3">
		<h3>Current Status</h3>
		<dl class="dl-horizontal">
			<dt>Outstanding Orders</dt>
			<dd>{{ unfilled_count }}</dd>
			<dt>Pending Pickup</dt>
			<dd>{{ pending_pickup_count }}</dd>
		</dl>
	</div>
	<div class="col-md-3">
		<h3>This Months Stats</h3>
		<dl class="dl-horizontal">
			<dt>Orders Recieved</dt>
			<dd>{{ orders_count }}</dd>
			<dt>Orders Fulfilled</dt>
			<dd>{{ filled_count }}</dd>
			<dt>Picked Up</dt>
			<dd>{{ pickup_count }}</dd>
		</dl>
	</div>
</div>
<div class="row">
	<div class="col-md-3 col-md-offset-3">
		<h3>System history</h3>
		<dl class="dl-horizontal">
			<dt>Orders Recieved</dt>
			<dd>{{ orders_count_ever }}</dd>
			<dt>Orders Fulfilled</dt>
			<dd>{{ filled_count_ever }}</dd>
			<dt>Picked Up</dt>
			<dd>{{ pickup_count_ever }}</dd>
		</dl>
	</div>
	<div class="col-md-3 col-md-offset-3">
		<p>In case of issues, email VP Operations (Michael Williams) at reboot@mcgilleus.ca.</p>
		<p>When a more immediate answer is needed, SMS {{ ops_phone }},
		including your name and that it concerns Reboot.</p>
		<p>Note: Please SMS, don't call. Chances of unknown numbers being answered are low.</p>
	</div>
</div>
{% endblock %}