{% extends "base.html" %}
{% block title %} - Request #{{ request.id }}{% endblock %}

{% block content %}
<div class="page-header">
	<h1>{{ machine }}<small> Request #{{ machine.request.id }}</small></h1>
</div>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<dl>
			<dt>Request</dt>
			<dd><a href="{{ machine.request.get_absolute_url }}">{{ machine.request }}</a></dd>
			<dt>Filled by</dt>
			<dd><a href="{{ machine.fulfiller.get_absolute_url }}">{{ machine.fulfiller.get_full_name }}</a></dd>
			<dt>CPU</dt>
			<dd>{{ machine.cpu }}</dd>
			<dt>RAM</dt>
			<dd>{{ machine.ram_human }}</dd>
			<dt>HDD</dt>
			<dd>{{ machine.hdd_human }}</dd>
			<dt>Notes</dt>
			<dd>{{ machine.notes }}</dd>
			<dt>Picked up</dt>
			<dd><span class="glyphicon {% if machine.picked_up %}glyphicn-ok" ></span>{% else %}glyphicon-remove "></span><a href="{{ machine.get_pickup_url }}">Mark Picked up</a>{% endif %}</dd>
			<dd>Receipt</dd>
			<dt><a href="{{ machine.get_pdf_url }}">Generate</a></dt>
		</dl>
	</div>
</div>
{% endblock %}

