{% extends "base.html" %}
{% block title %} - Request #{{ machinerequest.id }}{% endblock %}

{% block content %}
<div class="page-header">
	<h1>{{ request }}<small> Request #{{ machinerequest.id }}</small></h1>
</div>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<dl>
			<dt>Requester</dt>
			<dd>{{ machinerequest.given_name }} {{ machinerequest.family_name }}</dd>
			<dt>Type</dt>
			<dd>{{ machinerequest.requester_type }}</dd>
			<dt>Faculty &amp; Department</dt>
			<dd>{{ machinerequest.faculty_and_dept }}</dd>
			<dt>Organisation</dt>
			<dd>{{ machinerequest.organization }}</dd>
			<dt>Requested Preset</dt>
			<dd>{{ machinerequest.preset }}</dd>
			<dt>Operating System</dt>
			<dd>{{ machinerequest.os }}</dd>
			<dt>Machine Use</dt>
			<dd>{{ machinerequest.machine_use }}</dd>
			<dt>Accessory Matrix</dt>
			<dd>
				<table class="indent">
					<tr>
						<th>Display</th>
						<td>{% if machinerequest.need_display %}<span class="glyphicon glyphicon-ok"></span>{% else %}<span class="glyphicon glyphicon-remove"></span>{% endif %}</td>
					</tr>
					<tr>
						<th>Mouse</th>
						<td>{% if machinerequest.need_mouse %}<span class="glyphicon glyphicon-ok"></span>{% else %}<span class="glyphicon glyphicon-remove"></span>{% endif %}</td>
					</tr>
					<tr>
						<th>Keyboard</th>
						<td>{% if machinerequest.need_keyboard %}<span class="glyphicon glyphicon-ok"></span>{% else %}<span class="glyphicon glyphicon-remove"></span>{% endif %}</td>
					</tr>
					<tr>
						<th>Ethernet Cable</th>
						<td>{% if machinerequest.need_ethernet %}<span class="glyphicon glyphicon-ok"></span>{% else %}<span class="glyphicon glyphicon-remove"></span>{% endif %}</td>
					</tr>
				</table>
			</dd>
			<dt>Extra Info and Remarks</dt>
			<dd>{{ machinerequest.extra_information }}</dd>
			<dt>Amount</dt>
			<dd>{{ machinerequest.amount }}</dd>
			<dt>Machine Provided</dt>
			<dd>{% if machinerequest.filled %}<ul>{% for machine in machinerequest.get_machines %}<li><a href="{{ machine.get_absolute_url }}">View</a>{% endfor %}</ul>{% else %}<a href="{{ machinerequest.get_fulfill_url }}">Unforfilled. Forfill Now!</a>{% endif %}</dd>
			{% if not machinerequest.filled and machinerequest.get_machines.count == machinerequest.amount %}
			<dd>Amount Fulfilled</dd>
			<dt><a href="{{ machine.get_fulfill_mark_url }}">Mark Fulfilled</a></dt>
			{% endif %}
		</dl>
	</div>
</div>
{% endblock %}

